.bg{background-color:white; padding: 15px}
.c1{font-size:16px;}
.button1{border-radius: 10px;background-color:#0967d2;height: 40px; width:100px ;color:white}
.img{padding: 10px;}
.c{font-size:16px;}
.background{background-color: #0967d219;border-radius: 15px; padding:15px;font-size:14px;}
.c2{background-color: #3ebd93;border-radius: 15px;height: 80px;width: 80px;padding:10px;text-align: center;font-size:10px;border-radius: 10px;margin:10px;color:white}
.c3{background-color: #e668a7;border-radius: 15px;height: 80px;width: 80px;padding:10px;text-align: center;font-size:10px;border-radius: 10px;margin:10px;color:white}
.c4{background-color: #a368fc;border-radius: 15px;height: 80px;width: 80px;padding:10px;text-align: center;font-size:10px;border-radius: 10px;margin:10px;color:white}
.bcg{background-color: #e12d3919;border-radius: 15px; padding:15px;font-size:14px;}